body{
    margin: 0;
    background-color: #0E1A26;
    color: #B8B7BD;
}


h1{
    font-family: 'Lily Script One', cursive;
    font-size: 75px;
    text-align: center;
    margin-top: 30px;
}

h2{
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#consultar{
    height: 700px;
    /* border: 2px solid red; */
}

#campo, select {
    width: 25%;
    height: 60px;
    text-align: center;
    background-color: #0E1A26;
    border: #B8B7BD 3px solid;
    color: #B8B7BD;
    font-size: 30px;
}

#campo{
    width: 35%;
}

input::placeholder{
    color: #B8B7BD;
}

#text{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#pesquisar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tabelapai{
    width: 100%;
    height: 390px;
    overflow: auto;
}

th{
    width: 5%;    
    font-size: 25px;
    height: 60px;
}

table{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}	

#superior{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#superior h2{
    text-align: center;
}

span{
    display: block;
}

#adicionar{
    text-align: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #B8B7BD;
    /* background-color: #B8B7BD; */

}

#adicionar input{
    width: 25%;
    height: 60px;
    text-align: center;
    background-color: #0E1A26;
    border: #B8B7BD 3px solid;
    color: #B8B7BD;
    font-size: 30px;
}

#adicionar div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

#adicionar #button{
    height: 66px;
    background-color: #B8B7BD;
    color: #0E1A26;
    cursor: pointer;
}

#deletar{
    text-align: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#deletar form{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15%;
}

#deletar input{
    width: 35%;
    height: 60px;
    text-align: center;
    background-color: #0E1A26;
    border: #B8B7BD 3px solid;
    color: #B8B7BD;
    font-size: 30px;
}

#deletar #delet {
    height: 66px;
    background-color: #B8B7BD;
    color: #0E1A26;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}